* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.main {
  height: 1280px;
  width: 1000px;
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
}

.col1 {
  width: 100px;
  height: 100px;
  background-color: lightblue;
}

.col2 {
  width: 100px;
  height: 100px;
  background-color: lightcoral;

}